body {
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 40%,
    rgb(105, 105, 105) 100%
  );
  background-image: url(img/bg.jpg);
  background-size: cover;
}
.clock {
  position: relative;
  width: 400px;
  height: 400px;
  border: 10px solid #ffffff;
  border-radius: 50%;
  margin: 50px auto;
  background-color: #606060;
  box-shadow: 0 0 90px rgba(0, 0, 0, 0.9);
  background-image: url(img/rolex.jpg);
  background-position: center;
  background-size: cover;
}
.clock::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.hand {
  position: absolute;
  transform-origin: 50% 100%;
  transition: 0s linear;
  border-radius: 10px;
}

.hour-hand {
  width: 10px;
  height: 130px;
  border-radius: 10px;
  background-color: #c6c6c6;
  z-index: 1;
  top: 17%;
  left: 50%;
  transform-origin: 50% 100%;
}

.min-hand {
  width: 8px;
  height: 150px;
  background-color: #606060;
  z-index: 2;
  top: 12%;
  left: 50%;
}

.second-hand {
  width: 4px;
  height: 189px;
  background-color: rgb(255, 67, 67);
  z-index: 3;
  top: 3%;
  left: 50%;
  transition: 0.2s cubic-bezier(0.89, 1.47, 0.64, 1.58);
}
.marking {
  position: absolute;
  width: 2%;
  height: 35%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 33%,
    rgba(0, 0, 0, 0) 34%
  );
  top: 15%;
  left: 49.25%;
  transform-origin: center bottom;
  border-radius: 2px;
}

.minute-marking {
  z-index: 0;
  position: absolute;
  width: 1%;
  height: 34.5%;
  background: linear-gradient(
    180deg,
    rgb(145, 145, 145) 10%,
    rgba(0, 0, 0, 0) 10%
  );
  top: 15.55%;
  left: 49.5%;
  transform-origin: center bottom;
}

.marking-one {
  display: none;
}
.marking-two {
  display: none;
}
.marking-three {
  display: none;
}
.marking-four {
  display: none;
}

@media (max-width: 768px) {
  .clock {
    width: 300px;
    height: 300px;
    border: 8px solid #ffffff;
  }
  .clock::after {
    width: 12px;
    height: 12px;
  }
  .hour-hand {
    width: 8px;
    height: 100px;
  }
  .min-hand {
    width: 6px;
    height: 115px;
  }
  .second-hand {
    width: 3px;
    height: 140px;
  }
}

@media (max-width: 350px) {
  .clock {
    width: 200px;
    height: 200px;
    border: 6px solid #ffffff;
  }
  .clock::after {
    width: 8px;
    height: 8px;
  }
  .hour-hand {
    width: 6px;
    height: 67px;
  }
  .min-hand {
    width: 4px;
    height: 75px;
  }
  .second-hand {
    width: 2px;
    height: 97px;
  }
}
